.contactFormSec {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -158px;
    margin-top: -100px;
}

.avatar {
    display: flex;
    margin-right: 10em;
    margin-top: 2em;
    position: absolute;
    height: 60em;
    width: 120%;
    padding-bottom: 50px;
}

.formSec {
    display: flex;
    justify-content: center;
    position: relative;
    align-content: center;
    flex-direction: column;
    width: 45em;
    margin: 15%;
    height: 27em;
    gap: 10px;
}

.topFormSec {
    display: flex;
    gap: 10px;
}

.nameInp,
.emailInp {
    padding: 12px 48px 12px 24px;
    font-size: 1rem;
    width: 50%;
    border-radius: 20px;
    height: 4em;
    border: 1px rgb(189, 180, 180) solid;
    outline: none;
    transition: border .3s;
    transition-timing-function: cubic-bezier(.21, .67, .91, .35);
    background-color: rgba(248, 247, 247, 0.8);
    backdrop-filter: blur(10px);
}

.subInp {
    width: 100%;
    font-size: 1rem;
    padding: 12px 48px 12px 24px;
    border-radius: 20px;
    height: 9em;
    border: 1px rgb(189, 180, 180) solid;
    outline: none;
    transition: border .3s;
    transition-timing-function: cubic-bezier(.21, .67, .91, .35);
    background-color: rgba(248, 247, 247, 0.8);
    backdrop-filter: blur(10px);
}

.mesInp {
    width: 100%;
    font-size: 1rem;
    padding: 12px 48px 120px 24px;
    border-radius: 20px;
    height: 20em;
    border: 1px rgb(189, 180, 180) solid;
    outline: none;
    transition: border .3s;
    transition-timing-function: cubic-bezier(.21, .67, .91, .35);
    background-color: rgba(248, 247, 247, 0.8);
    backdrop-filter: blur(10px);
}

.nameInp:focus,
.emailInp:focus,
.subInp:focus,
.mesInp:focus {
    border: 1px rgb(236, 156, 27) solid;
    transition-timing-function: cubic-bezier(.17, .67, .78, .55);
}

.sendBtn {
    height: 35%;
    border-radius: 20px;
    font-size: 1rem;
    background-color: rgba(248, 247, 247, 0.8);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(10px);
    border: solid 1px rgb(180, 180, 180);
}

.sendBtn:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

@media only screen and (max-width: 600px) {
    .contactFormSec {
        margin-top: 0;
    }
}