* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.orangeStyle {
    color: #bda19a;
    font-weight: bold;
}

.mainSecTop {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    margin-top: 80px;
}

.leftSection {
    width: 110%;
}

.leftBoxContainer {
    background-color: #f3eced;
    height: 70%;
    padding: 60px;
    padding-left: 100px;
    margin-left: 20px;
}

.leftTextTop {
    width: 20em;
}

.title {
    margin-left: 2em;
    padding: 20px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: linear-gradient(to right, #635a58 0%, #f02c49 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan {
    display: flex;
    flex-direction: column;
    font-size: 34px;
    margin-bottom: 25px;
    padding-left: 20px;
}

.sloganWord {
    color: #bda19a;
    font-size: 38px;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 0.05em;
    /* text-shadow: 0 0.02em 0.15em #f1d4ec; */
}

.subSlogan {
    font-size: 18px;
    padding-left: 20px;
}

.rightSection {
    width: 100%;
    margin-right: 20px;

}

.rightImage {
    background-image: url("../img/cleaning4.png");
    z-index: 1;
    width: 100%;
    height: 36em;
    background-repeat: no-repeat;
    background-size: cover;
}

.firstServiceSec {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -1em;
    justify-content: center;
    z-index: 2;
    margin-left: 200px;
    gap: 50px;
}

.homeClening {
    margin-top: 30px;
    height: 280px;
    width: 280px;
    background-color: white;
    padding: 20px;
    padding-left: 25px;
    box-shadow: rgba(250, 230, 232, 255) 0px 5px 15px;
    border-radius: 10px;
}

.homeIcon {
    background-image: url("../img/house.png");
    margin-bottom: 10px;
    z-index: 1;
    width: 20%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeDes {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-right: 20px;
}

.commercialCleaning {
    margin-top: 30px;
    height: 280px;
    width: 280px;
    background-image: linear-gradient(142deg, #ff7b4f 0%, #fb4965 100%);
    padding: 20px;
    box-shadow: rgba(250, 230, 232, 255) 0px 5px 15px;
    border-radius: 10px;
    color: white;
}

.comercialIcon {
    background-image: url("../img/building.png");
    z-index: 1;
    width: 20%;
    margin-bottom: 10px;
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Second box */

.secondBox {
    display: flex;
    flex-direction: row;
    margin-top: 4em;
    height: 28em;
    padding: 10em;
}

.secondBoxLeft {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
}

.secondTitle {
    font-size: 28px;
}

.secondDes {
    width: 60%;
    font-size: 16px;
    line-height: 1.5;
}

.secondBoxRight {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 60%;
    height: 12em;
}

.offerSec {
    width: 250px;
}

.experienceIcon,
.equipmentIcon,
.insuredIcon,
.chatIcon {
    position: absolute;
    width: 20%;
    height: 20%;
    margin-top: -18px;
    margin-left: -42px;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Section 3 */
.thirdBox {
    display: flex;
    flex-direction: row;
    height: 60vh;
    margin-left: 20px;
    margin-right: 20px;
}

.thirdBoxLeft {
    width: 50%;
    background-color: #f3eced;
    padding: 5em;
    padding-left: 135px;
    font-size: 18px;
}

.thirdBoxLeft h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.thirdBoxDes {
    width: 60%;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.quoteIcon {
    position: absolute;
    padding: 1px;
    margin-left: 20px;
    height: 80px;
    width: 80px;
}

.quickForm {
    margin-left: 30px;
}

.locationTitle {
    padding: 0 30px 0 15px;
}

.selectLocationContainer {
    display: flex;
    position: relative;
    min-width: 250px;
    height: 45px;
}

.selectLocationBox {
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 80%;
    color: black;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    border-bottom: solid 1px #e99ea1;
}

.iconContainer {
    position: absolute;
    width: 25%;
    height: 25%;
    margin-top: 20px;
    margin-left: 23em;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/arrow-down-sign-to-navigate.png");
}

.optionStyle {
    background-color: #f0f0f0;
}

.stanIcon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: -34px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/location1.png");
}

.stanIcon2 {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: -34px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/window.png");
}

.windowTitle {
    padding: 0 30px 0 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.addWindowBox {
    display: flex;
    gap: 20px;
    padding: 0 30px 0 15px;
}

.windowBtn {
    all: unset;
    text-align: center;
    font-size: 22px;
    width: 30px;
    height: 30px;
    border: solid grey 1px;
    color: grey;
    border-radius: 50%;
    cursor: pointer;
}


.thirdBoxRight {
    background-image: linear-gradient(142deg, #ff7b4f 0%, #fb4965 100%);
    width: 50%;
    color: white;
    padding-top: 75px;
    padding-left: 100px;
    font-size: 18px;
}

.price {
    position: relative;
    margin-top: 10px;
    font-size: 90px;
    margin-bottom: 20px;
}

.price span {
    position: relative;
    font-size: 30px;
}

.priceDetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 100px;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.61);

}

.continue {
    padding: 10px 0 10px 0;
    margin-top: 20px;
    border-bottom: solid 1px rgb(255, 255, 255);
    border-top: solid 1px rgb(255, 255, 255);
}

.sideArrowIcon {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-top: 176px;
    margin-left: 6em;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/right-arrow-angle.png");
}

.fourthSection {
    display: flex;
    flex-direction: column;
    height: 72vh;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.customers {
    font-size: 20px;
}

.reviewSlogan {
    font-size: 18px;
}

.topFourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.topFourth p {
    text-align: center;
    width: 600px;
    padding-top: 30px;
}

.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-top: 10px;
}

.item {
    background-image: linear-gradient(142deg, #fafafa 0%, #cec1c3 100%);
    height: 100%;
    font-size: 18px;
    padding-top: 15px;
    border-radius: 1%;
    -webkit-user-select: none;
    user-select: none;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 10px 100px 30px 100px;
    line-height: 1.6;
    height: 220px;
}

.reviwerName {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 25px;
}

.reviwerName p {
    font-weight: bold;
}

.avatarImage {
    display: flex;
    align-content: center;
    padding: 10px;
    margin: auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.fiveStarReview {
    position: relative;
    margin-top: -55px;
}

.fifthBox {
    margin-top: 0;
}

.experienceIcon {
    height: 50px;
    width: 50px;
    margin-left: -60px;
}

.equipmentIcon {
    margin-top: -12px;
    height: 50px;
    width: 50px;
    margin-left: -60px;

}

.insuredIcon {
    height: 50px;
    width: 50px;
    margin-left: -60px;
}

.chatIcon {
    height: 50px;
    width: 50px;
    margin-top: -12px;
    margin-left: -60px;

}

/* Sixth box */
.sixthBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f3eced;
    margin: 20px;

}

.serviceBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 35px;
}

.serviceBox {
    width: 300px;
    height: 280px;
    background-color: rgba(248, 247, 247, 0.8);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 5px;
}

.serviceBox h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.serviceBox p {
    margin-bottom: 30px;
}

.serviceIcon {
    width: 60px;
    height: 60px;
}

.reveal1 {
    position: relative;
    transform: translatey(150px);
    opacity: 0;
    transition: all 0.5s ease;
}

.reveal1.active {
    transform: translatey(0px);
    opacity: 1;
}

.reveal2 {
    position: relative;
    transform: translatey(150px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal2.active {
    transform: translatey(0px);
    opacity: 1;
}

.reveal3 {
    position: relative;
    transform: translatey(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal3.active {
    transform: translatey(0px);
    opacity: 1;
}

.reveal4 {
    position: relative;
    transform: translatey(150px);
    opacity: 0;
    transition: all 2.2s ease;
}

.reveal4.active {
    transform: translatey(0px);
    opacity: 1;
}

@keyframes typing {

    0.0000%,
    27.3488% {
        content: "";
    }

    1.1395%,
    26.2093% {
        content: "O";
    }

    2.2791%,
    25.0698% {
        content: "Oc";
    }

    3.4186%,
    23.9302% {
        content: "Oce";
    }

    4.5581%,
    22.7907% {
        content: "Ocean";
    }

    5.6977%,
    21.6512% {
        content: "Oceans";
    }

    6.8372%,
    20.5116% {
        content: "Oceansi";
    }

    7.9767%,
    19.3721% {
        content: "Oceansid";
    }

    9.1163%,
    18.2326% {
        content: "Oceanside";
    }

    10.2558%,
    17.0930% {
        content: "Oceanside!";
    }

    30.7674%,
    51.2791% {
        content: "";
    }

    31.9070%,
    50.1395% {
        content: "V";
    }

    33.0465%,
    49.0000% {
        content: "Vi";
    }

    34.1860%,
    47.8605% {
        content: "Vis";
    }

    35.3256%,
    46.7209% {
        content: "Vist";
    }

    36.4651%,
    45.5814% {
        content: "Vista";
    }

    37.6047%,
    44.4419% {
        content: "Vista!";
    }

    54.6977%,
    75.2093% {
        content: "";
    }

    55.8372%,
    74.0698% {
        content: "C";
    }

    56.9767%,
    72.9302% {
        content: "Ca";
    }

    58.1163%,
    71.7907% {
        content: "Car";
    }

    59.2558%,
    70.6512% {
        content: "Carl";
    }

    60.3953%,
    69.5116% {
        content: "Carls";
    }

    61.5349%,
    68.3721% {
        content: "Carlsb";
    }

    62.6279%,
    67.8605% {
        content: "Carlsba";
    }

    63.7674%,
    66.7209% {
        content: "Carlsbad";
    }

    65.9070%,
    65.5814% {
        content: "Carlsbad!";
    }

    /* 100%,
    100% {
        content: "";
    } */

    /* 84.0465%,
    109.4419% {
        content: "";
    } */

    /* 
    83.1860%,
    92.3023% {
        content: "huma";
    }

    84.3256%,
    91.1628% {
        content: "human";
    } */
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}



.typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
}

.typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
    border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
    border-right: 0;
}

@media (prefers-reduced-motion) {
    .typewriter::after {
        animation: none;
    }
}