* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.orangeStyle {
    color: #e99ea1;
}

.mainSecTop {
    display: flex;
    flex-direction: row;
    height: 55vh;
    width: 100%;
}

.leftSection {
    width: 110%;
}

.leftBoxContainer {
    background-color: #fff8f8;
    height: 70%;
    padding: 60px;
    padding-left: 100px;
    margin-left: 20px;
}

.leftTextTop {
    width: 20em;
}

.title {
    color: #f1957f;
    margin-left: 2em;
    padding: 20px;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: 0 0.02em 0.15em #d8dddf;
}

.slogan {
    display: flex;
    flex-direction: column;
    font-size: 34px;
    margin-bottom: 25px;
}

.sloganWord {
    color: #f1957f;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: 0 0.02em 0.15em #f1d4ec;
}

.subSlogan {
    font-size: 18px;
}

.rightSection {
    width: 100%;
}

.rightImage {
    background-image: url("../img/cleaning4.png");
    z-index: 1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.firstServiceSec {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -1em;
    justify-content: center;
    z-index: 2;
    margin-left: 200px;
    gap: 50px;
}

.homeClening {
    margin-top: 30px;
    height: 280px;
    width: 280px;
    background-color: white;
    padding: 20px;
    padding-left: 25px;
    box-shadow: rgba(250, 230, 232, 255) 0px 5px 15px;
    border-radius: 10px;
}

.homeIcon {
    background-image: url("../img/house.png");
    margin-bottom: 10px;
    z-index: 1;
    width: 20%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeDes {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-right: 20px;
}

.commercialCleaning {
    margin-top: 30px;
    height: 280px;
    width: 280px;
    background-image: linear-gradient(142deg, #ff7b4f 0%, #fb4965 100%);
    padding: 20px;
    box-shadow: rgba(250, 230, 232, 255) 0px 5px 15px;
    border-radius: 10px;
    color: white;
}

.comercialIcon {
    background-image: url("../img/building.png");
    z-index: 1;
    width: 20%;
    margin-bottom: 10px;
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}

.secondBox {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    height: 20em;
    padding: 10em;
}

.secondBoxLeft {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
}

.secondDes {
    width: 60%;
}

.secondBoxRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 6em;
}